body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;  /* Garante que o conteúdo começa no topo */
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 15px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group label {
    margin-right: 10px;
}

.skill-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.skill-group label {
    display: flex;
    align-items: center;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.full-page {
    margin-top: 50px;
}

/* Ajustes para garantir o layout centralizado para todas as resoluções */
@media (max-width: 768px) {
    .skill-group {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
    }
}
